@import url(bootstrap-grid.min.css);
@import url(bootstrap-reboot.css);
html {
  font-size: 10px;
  line-height: 1.5; }

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.header {
  height: 5rem;
  background-color: honeydew;
  border-bottom: 2px solid orange;
  font-size: 1.5rem; }

ul {
  -webkit-padding-start: 0; }

button:focus {
  outline: 0; }

a {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #212529;
    text-decoration: none; }
  a:visited {
    color: #212529; }
  a:link {
    color: #212529; }

.pos-rigth {
  position: absolute;
  right: 0; }

.header-block {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.static-header__name {
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  background-color: #FF991D;
  height: 80%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  justify-content: center;
  align-items: center;
  bottom: 0; }

.header-middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.header-menu__link {
  height: 100%;
  width: 6rem;
  background-image: url("../assets/img/menu.png");
  background-position: center;
  background-size: 3rem;
  background-repeat: no-repeat; }

.header-home__link {
  height: 100%;
  width: 6rem;
  background-image: url("../assets/img/home.png");
  background-position: center;
  background-size: 3rem;
  background-repeat: no-repeat; }

.main {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: honeydew;
  flex-grow: 1; }

.person-block {
  width: 100%; }

.panel-block {
  width: 100%; }

.nav__block li:nth-child(2n+1) {
  background-color: white; }

.user--item {
  padding-top: 10px; }

.nav-item__block {
  min-height: 6rem;
  display: flex; }

.user--item--info {
  height: 70%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  cursor: pointer; }

.user--item__number {
  font-size: 1.25rem;
  margin-right: 10px;
  height: 1.25rem; }

.user--item__name {
  font-size: 2rem;
  height: 2rem; }

.bottom {
  flex-grow: 1; }

.bottom-menu {
  height: 5rem;
  width: 100vw; }
  .bottom-menu div:nth-child(2) {
    border-right: 2px solid gainsboro;
    border-left: 2px solid gainsboro; }

.bottom-menu--item {
  cursor: pointer;
  background-color: #212529;
  display: flex;
  height: 50px; }
  .bottom-menu--item svg {
    height: 35px;
    width: 35px;
    margin: auto;
    display: flex; }
    .bottom-menu--item svg path {
      margin: auto; }
  .bottom-menu--item:hover {
    background-color: orange; }
  .bottom-menu--item:hover path {
    fill: #31393E;
    stroke: #31393E; }

.load-borders {
  width: 100%;
  align-items: flex-start;
  flex-grow: 1; }

.border-first {
  height: 3px;
  background-color: #FF991D; }

.border-second {
  width: 45%;
  height: 3px;
  background-color: #31393E; }

.border-fill {
  width: 55%; }

.border-fill2 {
  width: 45%; }

/*--------------------------LOGIN-PAGE----------------------------*/
.login-page {
  background-color: #FF991D;
  height: 100vh;
  background-image: url(../assets/img/thapawong_2.png);
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 25rem auto; }

.login-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%; }

.login__title {
  width: 100%;
  height: 8rem;
  line-height: 8rem;
  font-size: 3.5rem;
  color: white;
  text-align: center;
  background-color: black; }

.login-form {
  height: 60vh;
  position: absolute;
  display: flex;
  bottom: 10%;
  flex-direction: column;
  justify-content: center;
  align-self: center; }

.form--item {
  width: 100%;
  position: relative; }

.login-form--label {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  border: 1.5rem solid transparent;
  border-left: 1.5rem solid black;
  z-index: 2; }

.login-form--input {
  padding: 1.5rem 1rem 1.5rem 4rem;
  font-size: 2rem;
  outline: none;
  width: 100%; }
  .login-form--input::-webkit-input-placeholder {
    font-size: 2rem; }
  .login-form--input::-moz-placeholder {
    font-size: 2rem; }
  .login-form--input:-moz-placeholder {
    font-size: 2rem; }
  .login-form--input:-ms-input-placeholder {
    font-size: 2rem; }

.login-btn__block {
  padding-top: 6rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.login-btn {
  width: 9.5rem;
  height: 5rem;
  border: none;
  outline: none;
  background-color: black;
  background-image: url(../assets/img/arrowWhite.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem auto;
  cursor: pointer; }

.login-forgotten {
  display: flex;
  justify-content: center;
  padding-top: 30px; }

.login-forgotten--text {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer; }

.person-page__name {
  height: 100%;
  line-height: 5rem;
  font-size: 2rem; }

.person-page__back {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%;
  background-image: url("../assets/img/prev.svg");
  background-repeat: no-repeat;
  background-size: auto 2rem;
  background-position: center;
  cursor: pointer; }

.person__ico {
  min-height: 6rem;
  width: 7rem; }

.person-field {
  font-size: 2rem;
  font-weight: 500;
  line-height: 6rem;
  border: none;
  background-color: transparent;
  width: 100%; }
  .person-field:focus {
    outline: none; }

.person__login--ico {
  background-image: url("../assets/img/userNameIcon.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__name--ico {
  background-image: url("../assets/img/user.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__number--ico {
  background-image: url("../assets/img/telephone.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__email--ico {
  background-image: url("../assets/img/mail.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__geo--ico {
  background-image: url("../assets/img/pin.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__hash--ico {
  background-image: url("../assets/img/hashGrey.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__tasks--ico {
  background-image: url("../assets/img/logbookGrey.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__group--ico {
  background-image: url("../assets/img/curingStation.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__farm--ico {
  background-image: url("../assets/img/leaf.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__export--ico {
  background-image: url("../assets/img/export.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__block--ico {
  background-image: url("../assets/img/lockk.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.person__logout--ico {
  background-image: url("../assets/img/logout.svg");
  background-size: auto 3.5rem;
  background-position: center;
  background-repeat: no-repeat; }

.edit-person-block {
  padding-bottom: 5rem; }

.edit-btn {
  font-size: 2rem;
  font-weight: 700;
  width: 100px;
  height: 50px;
  background-color: #FF991D;
  color: white;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer; }

.person-next {
  position: absolute;
  right: 20px;
  height: 6rem;
  width: 3rem;
  background-image: url("../assets/img/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 2.5rem;
  cursor: pointer; }
